@import url("https://fonts.googleapis.com/css?family=Sintony:400,700");

* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'helvetica';
  src: url("/fonts/helveticaNeue-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'helvetica';
  src: url("/fonts/helveticaNeue-thin.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'helvetica';
  src: url("/fonts/helveticaNeue4.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }


  body {
    font-family: 'helvetica';
  }


a {
  text-decoration: none;
}
